header {
	.header-overlay {
		background: linear-gradient(178.7deg, #E4ECFF 1.11%, rgba(234, 240, 255, 0) 103.22%);
		min-height: 870px;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}

	.container {
		padding-top: 32px;
		padding-left: 25px;
		padding-right: 25px;

		.header-top {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.header-right {
				display: flex;
				align-items: center;

				.header_menu {
					.menu-nav {
						display: flex;
						align-items: center;
						list-style-type: none;

						li {
							margin-right: 40px;
							cursor: pointer;

							a {
								position: relative;
							}

							a:before {
								content: "";
								width: 0%;
								position: absolute;
								height: 2px;
								background-color: black;
								bottom: 0;
								text-decoration: initial;
								transform: translate(-50%, 0);
								left: 50%;
								transition: .3s;
							}

							a:hover:before {
								width: 100%;
							}
						}
					}
				}
			}
		}

		.header-middle {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.left-content {
				max-width: 445px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding-top: 100px;

				h1 {
					padding: 24px 0px 15px 0px;
				}

				.welcome-block {
					width: 192px;
					min-height: 40px;
					background: #F8FAFF;
					border-radius: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: 600;
					font-size: 14px;
					font-family: Poppins;
					color: #293FCC;
					opacity: 0.7;
				}

				.btn-bottom {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					width: -webkit-fill-available;
					margin-top: 41px;

					.btn_try-free {
						margin-right: 32px;
					}

					a.view-demo {
						display: flex;
						align-items: center;
						font-family: Poppins;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 24px;
						color: #0B0757;


						&:hover img {
							transform: scale(1.2);
						}

						img {
							margin-right: 10px;
							transition: all 0.3s ease;

						}
					}
				}
			}

			.right-content {
				position: relative;

				.girl-stars {
					position: absolute;
					max-width: 180px;
					top: 25%;
					left: -15%;

					img {
						position: relative;
					}
				}

				.girl-stars::before {
					content: '';
					background-image: url(../img/icons/girl.png);
					width: 48px;
					height: 48px;
					position: absolute;
					top: -10px;
					left: 10px;
					z-index: 1;
				}

				.line-top {
					position: absolute;
					left: -13%;
					top: 30%;
					z-index: -1;
				}

				.line-bottom {
					position: absolute;
					bottom: -8%;
					left: 20%;
					z-index: -1;
				}

				.notifications {
					position: absolute;
					left: -35%;
					bottom: -20%;
				}

				.henry {
					position: absolute;
					right: -45%;
					bottom: -3%;
				}

				svg.sircle-pulse {
					position: absolute;
					right: -7%;
					top: 20%;
					z-index: -1;


					circle {
						fill-opacity: 0.3;
						animation: pulseCircle 5s ease-in-out infinite;
					}
				}

				svg.sircle-pulse_left {
					position: absolute;
					left: -10%;
					bottom: 20%;
					z-index: -1;

					path {
						fill-opacity: 0.3;
						animation: pulseCircle 3s ease infinite;
					}
				}

				@keyframes pulseCircle {
					0% {
						fill: #D3D3FF;
						fill-opacity: 0.2;
						transition: all 2s ease-in-out;
					}

					25% {
						fill: #b9ccfe7a;
						fill-opacity: 0.5;
						transition: all 2s ease-in-out;
					}

					50% {
						fill: #b9ccfe;
						fill-opacity: 1;
					}

					75% {
						fill: #b9ccfe7a;
						fill-opacity: 0.5;
					}

					100% {
						fill-opacity: 0.2;
						fill: #D3D3FF;
					}
				}
			}
		}

		.header-bottom {
			margin-top: 150px;

			.brand-img {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
			}
		}
	}
}
